body{
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
}

/*styling of the line below the title*/
hr{
    width: 500px;
    margin-top: -20px;
}

/*styling of the buttons */
.submit-btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid lightgray;
    background: lightgray;
    color: black;
    font-weight: bold;
    transition-duration: 0.4s;
}

/*styling of the buttons when hovering over them*/
.submit-btn:hover{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid lightgray;
    background: white;
    color: black;
    font-weight: bold;
}
/* styling of the title of the page */
#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 0px;
}
/* main game board styling*/
#board{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
/* styling of the cards of the game*/
.card{
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  transform 0.8s;
}

/* styling of the cards of the game*/
.card-filled{
    /* Box */
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* when the letter is in its correct place*/
.correct{
    background-color: #6AAA64;
    color: white;
    border-color: #6AAA64;
    transform: rotateX(180deg);
}

/*when the letter is present in the word bit not in place*/
.present{
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
    transform: rotateX(180deg);
}

/*when the letter is not in the word*/
.absent{
    background-color: #787C7E;
    color: white;
    border-color: #787C7E;
    transform: rotateX(180deg);
}

